.template 
{
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
	margin-top:10px;
}
.template .one
{
	display:flex;
	margin-top:10px;
	margin-bottom:10px;
	flex-direction:column;
}
.template .one .split1
{
	display:flex;
	flex-direction:row;
	background-color:gray;
	justify-content:space-between;
}
.template .one .split1 .split11
{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.template .one .split1 .split11 .b
{
	height:30px;
	width:80px;
	background-color:white;
	margin:10px;
}
.template .one .split1 .split12
{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}
.template .one .split1 .split12 .b
{
	height:30px;
	width:80px;
	background-color:white;
	margin:10px;
}
.template .one .split2 
{
	display:flex;
	flex-direction:column;
	background-color:blue;
}
.template .one .split2 .dark
{
	height:40px;
	width:200px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .one .split2 .text
{
	height:30px;
	width:250px;
	width:250px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .one .split2 .b
{
	height:30px;
	width:100px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .two
{
	display:flex;
	margin-top:10px;
	margin-bottom:10px;
	flex-direction:column;
}
.template .two .split1
{
	display:flex;
	flex-direction:column;
}
.template .two .split1 .dark
{
	height:30px;
	width:200px;
	background-color:gray;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .two .split1 .text
{
	height:80px;
	width:160px;
	background-color:brown;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.template .two .split2 
{
	display:flex;
	justify-content:center;
	background-color:black;
}
.template .two .split2 .text
{
	height:30px;
	width:100px;
	background-color:orange;
	margin:10px;
}